body{
    background-color: #ebebeb;
    height: 200vh;
    width: 100vw;
    padding-top: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #e9e9e9;
    background-image: url('../src/assets/img/food-background.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.container {
    height: 150%;
    width: 100vw;
    padding-top: 50px;
    margin-top: 15px;
    margin-bottom: 10%;
    border-radius: 10px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
}

.container#profile{
    height: 30%;
    width: 80%;
    padding-top: 8px;
    
    margin-bottom: 10%;
    margin-left: 9%;
    border-radius: 10px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
    position: absolute;
}
.foto{
    margin-left: 43%;
    position: absolute;
    margin-top: -10%;

    
} 
.navPill{
    margin-top: 5%;
    margin-left: 36%;
    margin-bottom: 5%;
    margin-right: 31%;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ff0000;
}
a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}
   
.container#submit{
    height: 55%;
    width: 60%;
    padding-top: 15px;
    margin-top: 1%;
    margin-bottom: 10%;
    border-radius: 10px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
}
.container#login{
    height: 55%;
    width: 60%;
    padding-top: 15px;
    margin-top: 1%;
    margin-bottom: 10%;
    border-radius: 10px;
    background-color: #ffa9a9;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
}

.container#textview{
    height: 95px;
    width: 80%;
    background-color: whitesmoke;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
}

.btn-flat{
    background-color: red;
    color: white;
}

.btn-flat:hover{
    background-color: rgb(206, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn-flat#login{
    width: 100px;
    margin-left: 50px;
    border-radius: 30px;
}
.btn-flat#submitnav{
    margin-left: 45vw;
    width: 100%;
    border-radius: 10px;
}

.btn-flat#search{
    background-color: white;
}

.btn-flat#add{
    background-color: white;
    margin-left: 150px;
    border-radius: 100px;
}

.btn-flat#addFolder{
    background-color: white;
    margin-left: 90%;
    margin-bottom: 2%;
    border-radius: 100px;
    margin-right: 2%;
}
.btn-flat#Edit{
    background-color: white;
    margin-left: 67%;
    border-radius: 100px;
    margin-right: 2%;
}
.btn-flat#subEdit{
    color: black;
    background-color: white;
    border-radius: 10px;
}
.btn-flat#More{
    background-color: white;
    margin-left: 10%;
    border-radius: 100px;
}
.btn-flat#save{
    background-color: rgb(255, 8, 8);
    margin-top: 8px;
    margin-left: 210px;
    border-radius: 10px;
}

.btn-flat#submit{
    background-color: rgb(255, 8, 8);
    width: 80%;
    margin-top: 8px;
    margin-left: 70px;
    border-radius: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color:white;
    font: normal 13pt Arial;
    margin-left: 50px;
}

.navbar-dark{
    background-color: rgba(0, 0, 0, 0.63);
    
}

.form-control{
    color: #ffffff;
    background-color: #fff0;
}

.form-control .placeHolder{
    color: #ff0000;
}
.alert-heading {
    color: inherit;
}

.title{
    font-size: 64px;
    font-weight: 400;
    margin-top: 8%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
   color: rgb(255, 255, 255);
}

.title-section{
    font-weight: 380;
    margin-top: 8%;
    margin-bottom: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
   color: black;
}
.title-section-profile{
    font-size: 21px;
    margin-top: 25%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.espaco-entre-linhas{
    margin-top: 8%;
}
